<div class="container">
  <div class="card text-center">

    <!-- navigation -->
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="onClickHandler($event, 'stats')" [ngClass]="{'active': showStatus[0]}">Statistiques</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" (click)="onClickHandler($event, 'scoreboard')" [ngClass]="{'active': showStatus[1]}">Tableau des scores</a>
        </li>


      </ul>
    </div>
    <!-- END navigation -->

    <!-- reach on Stats nav link -->
    <div class="card-body text-center" *ngIf="showStatus[0]">
      <h5 class="card-title">Statistiques moyennes</h5>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Score moyen</th>
            <th scope="col">Score le plus bas</th>
            <th scope="col">Nombre de joueurs</th>
            <th scope="col">Highscore</th>
          </tr>
        </thead>

        <tbody>
          <tr class="table-light">
            <td>{{ getAverageScore() }}</td>
            <td>{{ getLowestScore() }}</td>
            <td>{{ getEntriesCount()}}</td>
            <td>{{ getHighScore() }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- reach on Scoreboard nav link -->
    <div class="card-body text-center" *ngIf="showStatus[1]">
      <h5 class="card-title">Scoreboard</h5>
      <table class="table table-responsive-lg">
        <thead class="thead-light">
          <tr>
            <th scope="col">Nr</th>
            <th scope="col">Pseudo</th>
            <th scope="col">Highscore</th>
          </tr>
        </thead>

        <tbody>
          <tr class="table-light" *ngFor="let score of getAllScoresByRank()">
            <td [ngStyle]="setPodiumStyle()">{{ getRankPosition() }}</td>
            <td>{{ score.name }}</td>
            <td>{{ score.score }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- footer containing last update date -->
    <div class="card-footer text-muted">
      Dernière mise à jour: {{ getDateUpdateFormatted() }}
    </div>
  </div>
</div>
